/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

 */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    .header__logo-box__logo {
      height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  color: #ffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.6rem;
    animation-name: move-in-left;
    animation-duration: 1.5s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.3rem;
    animation: move-in-right 1.5s ease-out; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover:after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: white;
  color: #777; }
  .btn--white:after {
    background-color: white; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: btn-fadeIn-top 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

/* Animations */
@keyframes move-in-left {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translate(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes move-in-right {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translate(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes btn-fadeIn-top {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
