.bg-video {
  opacity: 0.15;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
