
/* Animations */
@keyframes move-in-left {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translate(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes move-in-right {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translate(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes btn-fadeIn-top {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
