body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}
.heading-primary {
  color: #ffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.6rem;
    animation-name: move-in-left;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.3rem;
    animation: move-in-right 1.5s ease-out;
  }
}
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 0.2rem;
  transition: all 0.3s;
  color: transparent;
  &:hover {
    transform: (skewY(2deg) skewX(15deg));
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}
.heading-tertiary{
  font-size: 1.6rem;
  font-weight:700;
  text-transform: uppercase ;
}
.paragraph{
  font-size: 1.6rem;
  &:not(:last-child){
    margin-bottom: 3rem;
  }
}